# dot-files etc.
.idea
.github
.vscode
.git
.*ignore
.*lock
.release*
.*.{yaml,yml}
.*.txt
.*.cache
*.dist.php
*.xml.dist
.pre-commit*.yaml
.env*
*compose*.yaml
auth.json
README.md
LICENSE
Makefile
Dockerfile

# build and dev scripts
/bin/*.sh

# ensure these stay
!.htaccess
!/bin/ci
!/bin/console

# directories
/deploy
/secrets
/docs
/tests
/scripts
/vendor

# (sub)-directories
/config/cluster
/config/ssl
/config/jwt
