.idea
.github
.vscode
.git
.gitignore
.*ignore
.releaserc
.*.{yaml,yml}
.*.txt
.*.cache
*.dist.php
*.xml.dist
.*config
.env*
.env.template
Makefile
Dockerfile
docker/resources
*compose.yaml
*compose-override.yaml
config/k8s
config/ssl
README.md
LICENSE
/secrets
/docs
/vendor
/tests
/scripts
