# custom editor configuration
/.idea
# deps
/vendor/
*.txt

###> shopware/core ###
# env config
.env.*
.*env
.env*
!.env

# ephemeral files
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/secrets/

# wtf? came with the composer template
/auth.json
/install.lock
public/asset-manifest.json
###< shopware/core ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
