{$HOSTNAME:localhost}:${PORT:8080} {
  header {
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
  }

  @svg {
    file
    path *.svg
  }

  header @svg Content-Security-Policy "script-src 'none'"

  @default {
    not path /theme/* /media/* /thumbnail/* /bundles/* /css/* /fonts/* /js/* /recovery/* /sitemap/*
  }

  root * public
  php_fastcgi ${CADDY_FPM_LISTEN:unix//run/php/php-fpm.sock}
  encode zstd gzip
  file_server
}